#app {
  .content-wrapper {
    width: 45%;
    margin: 0 auto;
    text-align: center;

    .avatar {
      width: 200px;
      height: 200px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
